@tailwind base;
@tailwind components;
@tailwind utilities;

.redColor{
    background-color: #E2494B;
}

.buttonShadow{
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.444);
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background:#555 ;
}
::-webkit-scrollbar-thumb{
    background: #12121212;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #242424;
}
